body{
    background-color: silver;
}

.text-block h2{
    color: yellow;
}
.text-block p{
    color: magenta;
}
#social:hover{
color: dodgerblue;
    background-color:darkblue;
}

#aboutme h2{
    text-align: center;
    color: red;
}
.photo-image{
    position: absolute;
    left: 50%;
    top: 55%;
    margin-top: -10%;
    margin-left: -40%;
    background-repeat: no-repeat;
    width: 20%;
    height: 35%;
}
.text-block a{
     position: absolute;
    bottom: 600px;
    right: 150px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
}
.text-block{
    position: absolute;
    left:45%;
    top: 55%;
    margin-top: -10%;
    margin-left: 0%;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


.text-block p{
    font-size: 4vw;
}
.text-block h2{
    font-size: 5vw;
}

#image{
    width: 100%;
    height: 100%;
}
#skills h2{
    text-align: center;
    color: red;
}
#skills p{
    text-align: center;
    
}
#skills {
    text-align: center;
}

#achievements{
    text-align: center;
    
}
#achievements h2{
    text-align: center;
    color: red;
}
#achievements li{
    text-align: left;
    background-color:black;
    color: yellow;
}
#achievements ol{
    text-align: left;
    display: inline-grid;
    
    
}
#training{
    text-align: center;
}
#training h2{
    color: red;
}
#training ol{
    display: inline-block;
    text-align:left;
}
#training li{
    background-color:black;
    color: yellow;
}

/* projects*/
#projects{
    text-align: center;
}
#projects h2{
    color: red;
}
#projects p{
    color: blue;
}
#projects ol{
    display: inline-block;
    text-align: left;
}
#projects li{
 background-color:black;
    color: yellow;  
    
}

/* footer classes defined */
#social-connections h3{
    color: mediumvioletred;
}

.fa {
    padding: 20px;
  font-size: 30px;
  width:auto;  
  text-decoration: none;
  margin left: auto;
    margin-right: auto;
    text-align: center;
  border-radius: 50%;
    align-content: center;
}
.fa:hover{
    opacity: 0.7;    
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
#social-connections{
    text-align: center;
}